<div class="contact-popup">
    <div class="contact-header">
        <h4>How can we help you?</h4>
        <p>
            <span>Call us on:</span>
            <a href="tel:+41794096789">+41 79 503 86 78</a>
        </p>
    </div>
    <div class="contact-form">
        <form action="https://formsubmit.co/51fb463e0c9d8fc55e76f51cca518773" accept-charset="UTF-8" enctype="multipart/form-data"
            method="POST">
            {{!-- hidden elements --}}
            <input type="hidden" name="_next" value="https://docsplant.com/en/submission.html">
            <input type="hidden" name="_captcha" value="false">
            <input type="text" name="_honey" style="display:none">
            <input type="hidden" name="_autoresponse" value="Thank you for reaching out to us. We will get in touch with you shortly">
            {{!-- input elements --}}
            <input type="text" name="Name" id="Name" autofocus="autofocus" placeholder="Name"/>
            <input type="email" name="Email" id="Email" required="required" placeholder="example@example.com"/>
            <div class="text-message">
                <textarea name="Message" id="Message" required="required" placeholder="Message"></textarea>
            </div>
        {{!-- <button type="submit" value="Submit" class="send-btn" data-disable-with="Submit"> --}}
        <button type="submit" value="Submit" class="send-btn" data-disable-with="Submit" id="submit-form">
            Send
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.43 5.93018L20.5 12.0002L14.43 18.0702" stroke="var(--background)" stroke-width="1.5"
                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M3.5 12H20.33" stroke="var(--background)" stroke-width="1.5" stroke-miterlimit="10"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </button>
        </form>
    </div>
</div>