<div class="container">
    <div class="footer-main-item">
        <div class="footer-main-logo">
            <a href="./index.html" class="footer-logo">
                <img src="../assets/images/docsplan_logo.svg" class="normal_img">
                <img src="../assets/images/docsplan_logo_dark.svg" class="white_img">
            </a>
        </div>
        <div class="footer-main-text">
            <h3 class="fw-bold">
                Der Ort, an dem <br>Dokumentation<br> wächst und gedeiht
            </h3>
        </div>
    </div>
    <div class="footer-copy-right">
        <div class="footer-left">
            <p>Copyright © 2022 docsplant. Alle Rechte vorbehalten</p>
        </div>
        <div class="footer-nav">
            <ul>
                <li><a href="./about.html">Impressum</a></li>
                <li><a href="./legal.html">Rechtliche Hinweise</a></li>
                <li><a href="privacy.html">Datenschutzerklärung</a></li>
            </ul>
        </div>
    </div>
</div>