<!DOCTYPE html>
<html lang= "{{ language }}">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Docsplant</title>
  <link rel="icon" type="image/x-icon" href="../assets/images/favicon.ico">
  <!-- bootstrap css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap"
    rel="stylesheet" />

  <!-- custom css -->
  <link rel="stylesheet" href="../css/main.css" />
  <link rel="stylesheet" href="../css/main.res.css" />

  <!-- custom css -->
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</head>

<body>
  <!-- load theme before rest to avoid flickering -->
  <script src="../js/theme_toggle.js"></script>
  <!-- predefine frequently used svgs in hidden symbol -->
  <svg style="display: none" version="2.0">
    <defs>
      <symbol id="circle-arrow-plus" fill="var(--primary_light)" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
      </symbol>
    </defs>
    <use href="#circle-arrow-plus" />
  </svg>
  <svg style="display: none" version="2.0">
    <defs>
      <symbol id="circle-arrow-minus" fill="var(--primary_light)" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z" />
      </symbol>
    </defs>
    <use href="#circle-arrow-minus" />
  </svg>
  <svg style="display: none" version="2.0">
    <defs>
      <symbol id="quote_symbol" fill="none" viewBox="0 0 84 84">
        <path
          d="M7 43.2249H27.3C32.655 43.2249 36.33 47.2849 36.33 52.2549V63.525C36.33 68.495 32.655 72.5549 27.3 72.5549H16.0301C11.0601 72.5549 7 68.495 7 63.525V43.2249"
          stroke="var(--text)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M7 43.2248C7 22.0498 10.9551 18.55 22.8551 11.48" stroke="var(--text)" stroke-width="4"
          stroke-linecap="round" stroke-linejoin="round" />
        <path
          d="M47.705 43.2249H68.005C73.36 43.2249 77.035 47.2849 77.035 52.2549V63.525C77.035 68.495 73.36 72.5549 68.005 72.5549H56.7351C51.7651 72.5549 47.705 68.495 47.705 63.525V43.2249"
          stroke="var(--text)" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
        <path d="M47.705 43.2248C47.705 22.0498 51.6599 18.55 63.5599 11.48" stroke="var(--text)" stroke-width="4"
          stroke-linecap="round" stroke-linejoin="round" />
      </symbol>
    </defs>
    <use href="#quote_symbol" />
  </svg>
  <svg style="display: none" version="2.0">
    <defs>
      <symbol id="arrow_symbol" fill="none" viewBox="0 0 101 71" fill="none">
        <path
          d="M14.2366 59.5194C29.5517 39.1204 41.0419 27.2794 66.7656 24.1169C73.0089 23.3493 83.0284 21.3347 89.0777 24.0052C92.5138 25.522 96.7509 24.427 92.1487 28.0976C88.3586 31.1205 82.9684 35.8381 78.2723 37.3207C76.5763 37.8562 91.7989 28.2332 96.5529 25.4965C102.631 21.9978 74.2046 8.82096 69.5143 6.41229"
          stroke="var(--text)" stroke-width="5" stroke-linecap="round" />
        <circle cx="13.5" cy="57.5" r="13.5" fill="var(--background)" />
        <circle cx="13.5" cy="57.5" r="9.5" fill="var(--secondary)" />
      </symbol>
    </defs>
    <use href="#arrow_symbol" />
  </svg>

  <div id="app">
    <!-- Header Area Start -->
    <header id="headerMain" class="header-area">
    </header>
    <!-- Header Section End -->

    <!-- main sections starts -->
    <main class="main_sections">
      <!-- Banner Section Start -->
      <section class="banner-section section">
        <div class="container">
          <div class="banner-title">
            <h1>
              {{ banner_section.title }}
            </h1>
            <p>
              {{ banner_section.description }}
            </p>
          </div>
          <div class="banner-image">
            <img src="../assets/images/landing.svg" class="normal_img">
            <img src="../assets/images/landing_dark.svg" class="white_img">
          </div>
        </div>
      </section>
      <!-- Banner Area End -->

      <!-- Features Section Start -->
      <section class="features_section section">
        <div class="container">
          <div class="row gx-0 gy-5 gy-lg-0 justify-content-between">
            <div class="col-lg-5">
              <div class="content">
                <h3 class="mb-5">
                  {{ features_section.title }}
                </h3>
                <div class="text-center text-lg-start">
                  <img src="../assets/images/dot_map.svg" class="normal_img">
                  <img src="../assets/images/dot_map_dark.svg" class="white_img">
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="features__items reboot-list">
                <li class="features__item">
                  <h3>{{ features_section.experience.title }}</h3>
                  <p>
                    {{ features_section.experience.description }}
                  </p>
                </li>
                <li class="features__item">
                  <h3>{{ features_section.support.title }}</h3>
                  <p>
                    {{ features_section.support.description }}
                  </p>
                </li>
                <li class="features__item">
                  <h3>{{ features_section.open_source.title }}</h3>
                  <p>
                    {{ features_section.open_source.description }}
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <!-- Features Section End -->

      <!-- Doc  FAQ Section Start -->
      <section class="doc-faq-section section">
        <div class="container">
          <div class="doc-faq-header section_header">
            <h2>
              {{ dac_section.title }}
            </h2>
            <svg width="132" height="167" viewBox="0 0 132 167" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.4076 73.1061C39.4055 78.9418 91.72 79.8997 117.57 51.8942C123.646 45.3118 136.075 16.3686 124.917 7.9154C110.762 -2.80839 91.3775 6.78841 83.1164 18.9393C71.281 36.3476 68.0137 67.4271 71.5178 88.3273C74.3193 105.037 80.0568 119.471 85.3869 135.44C88.0253 143.345 94.4213 152.626 95.3702 160.703C96.5773 170.976 105.991 139.543 105.799 132.749C105.761 131.418 101.32 154.858 104.054 162.647C105.416 166.528 90.1087 158.692 88.6186 158.019C78.0123 153.223 66.5717 150.539 55.3839 148.033"
                stroke="var(--primary_light)" stroke-width="5" stroke-linecap="round" />
            </svg>
          </div>

          <div class="accordion" id="accordionDocsCode">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseone" aria-expanded="false" aria-controls="collapseone">
                  <div class="h3 mb-0">
                    {{ dac_section.elements[0].title }}
                  </div>
                  <span class="icon">
                    <svg width="16" height="16" version="2.0" class="bi bi-plus-circle">
                      <use href="#circle-arrow-plus" />
                    </svg>
                    <svg width="16" height="16" version="2.0" class="bi bi-dash-circle">
                      <use href="#circle-arrow-minus" />
                    </svg>
                  </span>
                </button>
              </h2>
              <div id="collapseone" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionDocsCode">
                <div class="accordion-body">
                  <p>
                    {{ dac_section.elements[0].description }}
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <div class="h3 mb-0">
                    {{ dac_section.elements[1].title }}
                  </div>
                  <span class="icon">
                    <svg width="16" height="16" version="2.0" class="bi bi-plus-circle">
                      <use href="#circle-arrow-plus" />
                    </svg>
                    <svg width="16" height="16" version="2.0" class="bi bi-dash-circle">
                      <use href="#circle-arrow-minus" />
                    </svg>
                  </span>
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionDocsCode">
                <div class="accordion-body">
                  <p>
                    {{ dac_section.elements[1].description }}
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <div class="h3 mb-0">
                    {{ dac_section.elements[2].title }}
                  </div>
                  <span class="icon">
                    <svg width="16" height="16" version="2.0" class="bi bi-plus-circle">
                      <use href="#circle-arrow-plus" />
                    </svg>
                    <svg width="16" height="16" version="2.0" class="bi bi-dash-circle">
                      <use href="#circle-arrow-minus" />
                    </svg>
                  </span>
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionDocsCode">
                <div class="accordion-body">
                  <p>
                    {{ dac_section.elements[2].description }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- FAQ Section End -->

      <!-- Contributing Section Start -->
      <section class="contributing-seaction section">
        <div class="container">
          <div class="contributing-quote">
            <div class="quote-img">
              <svg width="84" height="84" viewBox="0 0 84 84" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use href="#quote_symbol" />
              </svg>
            </div>
            <div class="quote-title">
              <h3>
                {{ quote_section[0].quote }}
              </h3>
              <p>
                {{ quote_section[0].description }}
              </p>
            </div>
          </div>
          <div class="contributing-img">
            <img src="../assets/images/docsplan_logo_plain.svg" class="normal_img">
            <img src="../assets/images/docsplan_logo_plain_dark.svg" class="white_img">
          </div>
          <div class="contributing-quote contributing-two">
            <div class="quote-img">
              <svg width="84" height="84" viewBox="0 0 84 84" fill="none" xmlns="http://www.w3.org/2000/svg">
                <use href="#quote_symbol" />
              </svg>
            </div>
            <div class="quote-title">
              <h3>
                {{ quote_section[1].quote }}
              </h3>
              <p>
                {{ quote_section[1].description }}
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- Contributing Seaction End -->

      <!-- Timeline Seaction Start -->
      <section class="timeline-section section">
        <div class="container">
          <div class="timeline-header">
            <h2>{{ timeline_section.title }}</h2>
          </div>
          <!-- single-timeline -->
          <div class="single-timeline analysis timeline-padding">
            <div class="timeline-img timeline-img-1">
              <img src="../assets/images/silene_dioica_seed.svg" class="normal_img">
              <img src="../assets/images/silene_dioica_seed_dark.svg" class="white_img">
              <span class="arrow_icon">
                <svg width="101" height="71">
                  <use href="#arrow_symbol" />
                </svg>
              </span>
            </div>
            <div class="timeline-text">
              <h2>{{ timeline_section.elements[0].title }}</h2>
              <p>
                {{ timeline_section.elements[0].description }}
              </p>
            </div>
          </div>
          <!-- single-timeline -->
          <div class="single-timeline win-timeline timeline-padding">
            <div class="timeline-text">
              <h2>{{ timeline_section.elements[1].title }}</h2>
              <p>
                {{ timeline_section.elements[1].description }}
              </p>
            </div>
            <div class="timeline-img timeline-img-2">
              <span class="arrow_icon">
                <svg width="101" height="71">
                  <use href="#arrow_symbol" />
                </svg>
              </span>
              <img src="../assets/images/silene_dioica_seedling.svg" class="normal_img">
              <img src="../assets/images/silene_dioica_seedling_dark.svg" class="white_img">
            </div>
          </div>
          <!-- single-timeline -->
          <div class="single-timeline design-timeline">
            <div class="timeline-img timeline-img-3">
              <span class="arrow_icon">
                <svg width="101" height="71">
                  <use href="#arrow_symbol" />
                </svg>
              </span>
              <img src="../assets/images/silene_dioica_root.svg" class="normal_img" width="426.28122">
              <img src="../assets/images/silene_dioica_root_dark.svg" class="white_img" width="426.28122">
            </div>
            <div class="timeline-text">
              <h2>{{ timeline_section.elements[2].title }}</h2>
              <p>
                {{ timeline_section.elements[2].description }}
              </p>
            </div>
          </div>
          <!-- single-timeline -->
          <div class="single-timeline">
            <div class="timeline-text-implement">
              <h2>{{ timeline_section.elements[3].title }}</h2>
              <p>
                {{ timeline_section.elements[3].description }}
              </p>
              <div class="timeline-img timeline-img-4 d-md-none">
                <span class="arrow_icon">
                  <svg width="101" height="71">
                    <use href="#arrow_symbol" />
                  </svg>
                </span>
                <span class="arrow_icon">
                  <svg width="101" height="71">
                    <use href="#arrow_symbol" />
                  </svg>
                </span>
                <img src="../assets/images/silene_dioica_flower.svg" class="normal_img" width="384.37463"
                  height="821.5462">
                <img src="../assets/images/silene_dioica_flower_dark.svg" class="white_img" width="384.37463"
                  height="821.5462">
              </div>
              <div class="maintain-text">
                <h2>{{ timeline_section.elements[4].title }}</h2>
                <p>
                  {{ timeline_section.elements[4].description }}
                </p>
              </div>
            </div>
            <div class="timeline-img timeline-img-4 d-none d-md-block">
              <span class="arrow_icon">
                <svg width="101" height="71">
                  <use href="#arrow_symbol" />
                </svg>
              </span>
              <span class="arrow_icon">
                <svg width="101" height="71">
                  <use href="#arrow_symbol" />
                </svg>
              </span>
              <img src="../assets/images/silene_dioica_flower.svg" class="normal_img">
              <img src="../assets/images/silene_dioica_flower_dark.svg" class="white_img">
            </div>
          </div>
          <!-- single-timeline -->
          <div class="single-timeline exchange">
            <div class="timeline-img timeline-img-5">
              <img src="../assets/images/silene_dioica_capsule.svg" class="normal_img">
              <img src="../assets/images/silene_dioica_capsule_dark.svg" class="white_img">
              <span class="arrow_icon">
                <svg width="101" height="71">
                  <use href="#arrow_symbol" />
                </svg>
              </span>
            </div>
            <div class="timeline-text">
              <h2>{{ timeline_section.elements[5].title }}</h2>
              <p>
                {{ timeline_section.elements[5].description }}
              </p>
            </div>
          </div>
        </div>
      </section>
      <!-- Timeline Seaction End -->

      <!-- FAQ Section Start -->
      <section class="faq_section section pb-0">
        <div class="container">
          <div class="section_header text-center">
            <p class="tag">{{ faq_section.tag }}</p>
            <h2 class="title">{{ faq_section.title }}</h2>
            <p class="text">{{ faq_section.description }}</p>
          </div>
          <div class="accordion" id="accordionFaq">
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1"
                  aria-expanded="true" aria-controls="collapse1">
                  <div class="h3 mb-0">
                    {{ faq_section.questions[0].question }}
                  </div>
                  <span class="icon">
                    <svg width="16" height="16" version="2.0" class="bi bi-plus-circle">
                      <use href="#circle-arrow-plus" />
                    </svg>
                    <svg width="16" height="16" version="2.0" class="bi bi-dash-circle">
                      <use href="#circle-arrow-minus" />
                    </svg>
                  </span>
                </button>
              </h2>
              <div id="collapse1" class="accordion-collapse collapse show" aria-labelledby="heading1"
                data-bs-parent="#accordionFaq">
                <div class="accordion-body">
                  <p>
                    {{ faq_section.questions[0].answer }}
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                  <div class="h3 mb-0">
                    {{ faq_section.questions[1].question }}
                  </div>
                  <span class="icon">
                    <svg width="16" height="16" version="2.0" class="bi bi-plus-circle">
                      <use href="#circle-arrow-plus" />
                    </svg>
                    <svg width="16" height="16" version="2.0" class="bi bi-dash-circle">
                      <use href="#circle-arrow-minus" />
                    </svg>
                  </span>
                </button>
              </h2>
              <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                data-bs-parent="#accordionFaq">
                <div class="accordion-body">
                  <p>
                    {{ faq_section.questions[1].answer }}
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                  <div class="h3 mb-0">{{ faq_section.questions[2].question }}</div>
                  <span class="icon">
                    <svg width="16" height="16" version="2.0" class="bi bi-plus-circle">
                      <use href="#circle-arrow-plus" />
                    </svg>
                    <svg width="16" height="16" version="2.0" class="bi bi-dash-circle">
                      <use href="#circle-arrow-minus" />
                    </svg>
                  </span>
                </button>
              </h2>
              <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                data-bs-parent="#accordionFaq">
                <div class="accordion-body">
                  <p>
                    {{ faq_section.questions[2].answer }}
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading4">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                  <div class="h3 mb-0">
                    {{ faq_section.questions[3].question }}
                  </div>
                  <span class="icon">
                    <svg width="16" height="16" version="2.0" class="bi bi-plus-circle">
                      <use href="#circle-arrow-plus" />
                    </svg>
                    <svg width="16" height="16" version="2.0" class="bi bi-dash-circle">
                      <use href="#circle-arrow-minus" />
                    </svg>
                  </span>
                </button>
              </h2>
              <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                data-bs-parent="#accordionFaq">
                <div class="accordion-body">
                  <p>
                    {{ faq_section.questions[3].answer }}
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                  <div class="h3 mb-0">
                    {{ faq_section.questions[4].question }}
                  </div>
                  <span class="icon">
                    <svg width="16" height="16" version="2.0" class="bi bi-plus-circle">
                      <use href="#circle-arrow-plus" />
                    </svg>
                    <svg width="16" height="16" version="2.0" class="bi bi-dash-circle">
                      <use href="#circle-arrow-minus" />
                    </svg>
                  </span>
                </button>
              </h2>
              <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                data-bs-parent="#accordionFaq">
                <div class="accordion-body">
                  <p>
                    {{ faq_section.questions[4].answer }}
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="heading6">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                  <div class="h3 mb-0">
                    {{ faq_section.questions[5].question }}
                  </div>
                  <span class="icon">
                    <svg width="16" height="16" version="2.0" class="bi bi-plus-circle">
                      <use href="#circle-arrow-plus" />
                    </svg>
                    <svg width="16" height="16" version="2.0" class="bi bi-dash-circle">
                      <use href="#circle-arrow-minus" />
                    </svg>
                  </span>
                </button>
              </h2>
              <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                data-bs-parent="#accordionFaq">
                <div class="accordion-body">
                  <p>
                    {{ faq_section.questions[5].answer }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <img src="../assets/images/flower_meadow.svg" class="normal_img">
          <img src="../assets/images/flower_meadow_dark.svg" class="white_img">
        </div>
      </section>
      <!-- FAQ Area End -->

      <!-- Get Started Section Start -->
      <section class="get_started_section section">
        <div class="container">
          <h2 class="text-sm-center">
            {{ get_started_section.title }}
            <span class="d-block fw-normal mt-2">
              {{ get_started_section.description }}
            </span>
          </h2>
          <div class="text-sm-center">
            <a href="https://blog.docsplant.com" class="dp_btn dp_btn_primary text-capitalize internal_link">{{ get_started_section.button }}</a>
          </div>
        </div>
      </section>
      <!-- Get Started Section End -->
    </main>
    <!-- main sections ends -->

    <!-- Footer Section Start -->
    <footer class="footer_main" id="footer"></footer>
    <!-- Footer Section End -->

    <div class="contact-message" id="contact-button">
    </div>

    <!-- Contact form popup -->
    <div class="contact-popup-area" id="contact-form">
    </div>
  </div>

  <!-- bootstrap js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>

  <!-- custom js -->
  <script src="../js/main.js"></script>

  <script src="../js/handlebars_precompiled.js"></script>
  <script>
    {% if  language == "en" %}
    document.getElementById('headerMain').innerHTML = Handlebars.templates['header.hbs']({ is_en: true, filename: "index.html" })
    document.getElementById('footer').innerHTML = Handlebars.templates['footer.hbs']({})
    {% else %}
    document.getElementById('headerMain').innerHTML = Handlebars.templates['header.hbs']({ is_en: false, filename: "index.html" })
    document.getElementById('footer').innerHTML = Handlebars.templates['footer_de.hbs']({})
    {% endif %}
    document.getElementById('contact-button').innerHTML = Handlebars.templates['contact_button.hbs']({})
    document.getElementById('contact-form').innerHTML = Handlebars.templates['contact_form.hbs']({})
  </script>

</body>

</html>