<div class="contact-popup">
    <div class="contact-header">
        <h4>How can we help you?</h4>
        <p>
            <span>Call us on:</span>
            +41 79 409 67 89
        </p>
    </div>
    <div class="contact-form">
        <form action="" POST="method">
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email Address" />
            <div class="text-massage">
                <textarea name="text" placeholder="Message"></textarea>
                <span class="clip">
                    <img src="assets/images/paperclip.svg" class="normal_img">
                    <img src="assets/images/paperclip_dark.svg" class="white_img">
                </span>
            </div>
        </form>
        <a class="send-btn" href="#">
            Send
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M14.43 5.93018L20.5 12.0002L14.43 18.0702" stroke="var(--background)" stroke-width="1.5"
                    stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M3.5 12H20.33" stroke="var(--background)" stroke-width="1.5" stroke-miterlimit="10"
                    stroke-linecap="round" stroke-linejoin="round" />
            </svg>
        </a>
    </div>
</div>