<span class="cnt-message icon">
    <img src="assets/images/message-text.svg" class="normal_img">
    <img src="assets/images/message-text_dark.svg" class="white_img">
</span>
<span class="cnt-close icon">
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 28L28 4" stroke="var(--background)" stroke-width="6.36042" stroke-linecap="round"
            stroke-linejoin="round" />
        <path d="M28 28L4 4" stroke="var(--background)" stroke-width="6.36042" stroke-linecap="round"
            stroke-linejoin="round" />
    </svg>
</span>