<div class="container">
    <div class="footer-main-item">
        <div class="footer-main-logo">
            <a href="./index.html" class="footer-logo">
                <img src="assets/images/docsplan_logo.svg" class="normal_img">
                <img src="assets/images/docsplan_logo_dark.svg" class="white_img">
            </a>
        </div>
        <div class="footer-main-text">
            <h3 class="fw-bold">
                Nurture and grow your Technical Documentation
            </h3>
        </div>
    </div>
    <div class="footer-copy-right">
        <div class="footer-left">
            <p>Copyright © 2022 docsplant All rights Reserved</p>
        </div>
        <div class="footer-nav">
            <ul>
                <li><a href="./tos.html">Terms and Conditions</a></li>
                <li><a href="privacy.html">Privacy</a></li>
            </ul>
        </div>
    </div>
</div>